.card {
    min-height: 450px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}

.image {
    width: 80%;
    max-height: 200px;
}


