.holder {
    margin: 5% 3%;
}

.title {
    color: #171717;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 24px;
}

.col {
    color: #d83933;
}

.text {
    color: #171717;
    font-family: 'Public Sans';
    font-size: 14px;
    font-weight: 400;
    margin-top: 79px;
}

.subtitle {
    color: #171717;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
}

.text1 {
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    margin: 15px 0 5px 0;
}

.col1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input {
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #adadad;
    border-radius: 4px;
    padding-left: 5px;
    color: #171717;
}

.text2 {
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    margin: 25px 0 10px 0;
}

.input2 {
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #adadad;
    border-radius: 4px;
    justify-content: center;
    padding-left: 5px;
    color: #171717;
}

.input3 {
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #adadad;
    border-radius: 4px;
    color: #0050d8;
    padding-left: 5px;

}

.svg {
    margin-left: -35px;
}

.container {
    align-items: center;
    display: flex;
    margin-top: 30px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
}


.input4 {
    accent-color: #ff00ff;
    transform: scale(1.4);
    display: flex;
    border-radius: 0;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    border: 1px solid #adadad;
    padding-left: 5px;
}

hr {
    background-color: #d1d1d1;
    margin-top: 27px;
    margin-bottom: 32px;
}

.input5 {
    accent-color: #ff00ff;
    transform: scale(1.4);
    display: flex;
    border-radius: 0;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    border: 1px solid #adadad;
    padding-left: 5px;
    margin-top: 40px;
}

.svg1 {
    margin-left: -35px;
    top: 5px;
    position: relative;
}

input2::-ms-clear {
    display: none;
}

.button {
    width: 69px;
    height: 40px;
    background: #015fc7;
    border: 1px solid #015fc7;
    color: #fff;
    font-size: 20px;
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    float: right;
    border-radius: 4px;
}

.svg2 {
    float: right;
    margin-top: 70px;
}

.input-sel {
    width: 400px;
    height: 45px;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #adadad;
    border-radius: 4px;
    padding-left: 5px;
    color: #171717;
}