body {
    margin: 0;
  }
 
  .box {
    background-color: black;
    min-height: 100vh;
  }
  .box .animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80vh;
  }
  .box .animation .left {
    color: white;
    width: 50%;
    margin-left: 2%;
  }
  .box .animation .left > * {
    margin-bottom: 1rem;
  }

  .box .animation .left .title {
    font-size: 1.5rem;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-animation: leftAnimation 1s ease-out 1 forwards;
            animation: leftAnimation 1s ease-out 1 forwards;
  }
  .box .animation .left .subtitle {
    font-size: 1.2rem;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-animation: leftAnimation 1.2s ease-out 1 forwards;
            animation: leftAnimation 1.2s ease-out 1 forwards;
  }
  .box .animation .left .btn {
    width: 100px;
    height: 50px;
    border-radius: 150px;
    background-color: blue;
    color: yellow;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-animation: leftAnimation 1.4s ease-out 1 forwards;
            animation: leftAnimation 1.4s ease-out 1 forwards;
  }
  .box .animation .right {
    width: 50%;
    margin-right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .animation .right img {
    width: 100%;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-animation: imgAnim 2s linear 1 forwards;
            animation: imgAnim 2s linear 1 forwards;
  }
  
  @-webkit-keyframes leftAnimation {
    from {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes leftAnimation {
    from {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-webkit-keyframes imgAnim {
    from {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes imgAnim {
    from {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  :root{
    --animate-duration:2s;
    --animate-delay:2s;
    --animate-repeat:1;
  }
  .header__arrows{
      z-index: 3;
      color: wheat;
  }