body {
    background-color: #FFB084;
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 300px 200px 200px);
    grid-template-rows: repeat(4, 119px);
    gap: 15px;
    margin: 5%;
}

img {
    width: 100%;
}

.card {
    width: 250px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    height: 319px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: flex;
    font-style: normal;
    color: #000000;
    margin-bottom: 17px;
}

.image {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    border: 1px solid #EB996B;
    margin-bottom: 17px;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-together {
    display: flex
}

.desc {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-top: 14px;
    padding-right: 19px;
}

.h {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.card-1 {
    width: 420px;
    height: 117px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bio {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    margin-bottom: 7px;
}

.card-2 {
    width: 290px;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.card-3 {
    width: 200px;
    height: 111px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goals {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #29A71E;
    margin-right: 15px;
}

.ul {
    margin-top: 5px;
    margin-left: -15px;
}

.card-4 {
    width: 200px;
    height: 151px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #3675B0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #3675B0;
    margin-right: 15px;
}

.li {
    margin-top: 5px;
    margin-left: -15px;
}

.card-5 {
    width: 209px;
    height: 165px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #E13535;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #E13535;
}

.card-6 {
    width: 209px;
    height: 99px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subject {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}