.container-fluid {
    margin-left: 5%;
}

.button-1 {
    margin-right: 5%;
    width: 9%;
}

.circle {
    border-radius: 50%;
}

header {
    background-color: #212529;
    width: 100%;
    height: 297.19px;
}
.text-1 {
font-size: 56px;
    color: #fff;
    padding-top: 5%;
    font-weight: 700;
}

.text-2 {
    color:rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
}
.group-card {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 97px;
margin-bottom: 96px;
}
.card-2 {
    margin-top: 24px;
    margin-bottom: 25px;
}
.fw-bolder {
    margin-bottom: 32px;
}
.fw-light {
    margin-bottom: 29px;
}
a {
    text-decoration: none;
    color: #212529;
}
.a {
    color: white;
}
.card {
    width: 280px;
    margin: 2%;
}
.btn-dark {
  position: absolute;
  margin-top: 2%;
  margin-left: 84%;
    border-radius: 4px 4px 4px 4px;
    width: 39px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
justify-content: center;
}
.text-decoration-line-through {
    color: #6C757D;
}
footer {
    background-color: #212529;
    width: 100%;
    height: 120px;
}
.text-3 {
    color: white;
    padding-top: 3%;
}
