body {
    margin: 0;
    background-color: #202528;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1%;
}

.svg {
    width: 90px;
    height: 66px;
    margin-top: 10px;
    margin-left: 60px;
}

.menu {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

.text-color {
    color: white;
}

.text-color:hover {
    color: #FFB742;
}

.button {
    border-radius: 50px;
    background-color: #ffb742;
    border: 2px solid #ffb742;
    width: 121px;
    height: 54px;
    text-align: right;
    margin-right: 60px;
}

.font {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.hero {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.inside {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
}

.greetings {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.text {
    color: #FFB742;
    text-decoration-line: underline;

}

.profession {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: -1.5rem;
}

.job {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: -1rem;
}

.svg1 {
    display: flex;
    justify-content: center;
}

.row {
    box-sizing: border-box;
    display: flex;
    padding-top: 10%;
    align-items: center;
    justify-content: center;
}

.block {
    width: 416px;
    height: 120px;
    border-radius: 10px;
    background: rgba(56, 62, 69, 0.44);
    margin: 0 10px 0 10px;
}

.block:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.ellipse1 {
    width: 64px;
    height: 64px;
    margin-left: 25px;
    margin-top: 25px;
    background: white;
    border-radius: 50%;
}

.img12 {
    margin: 12px 12px 12px 12px;
}

.text16 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-left: 10px;
    line-height: 30px;
    margin-top: -60px;
}

.svg15 {
    margin-left: 350px;
    margin-top: -40px;
}

.text13 {
    color: #ffb742;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}

.block:hover .text13 {
    color: #212529;
}

.block:hover .text14 {
    color: #212529;
}

.text14 {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}

.about-me {
    display: flex;
    margin-top: 15%;
    width: 100%;
}

.block1 {
    float: left;
    width: 45%;
}

.block2 {
    float: left;
    width: 50%;
    padding-left: 2%;
}

.image {
    width: 100%;
}

.who-i-am {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 148px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.0799999982);
    border-radius: 5rem;
    color: #ffb742;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
    line-height: 30px;
    margin-top: 0;
    text-align: left;
}

.hi {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin-top: 10%;
}

.skills {
    height: 358px;
    width: 95%;
    margin-left: 40px;
}

.block-1 {
    float: left;
    width: 50%;
}

.block-2 {
    float: right;
    width: 40%;
}

.my {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.0799999982);
    border-radius: 5rem;
    color: #ffb742;
    display: flex;
    text-transform: uppercase;
    text-align: left;
}

.subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-top: 0;
    text-align: left;
}

.but {
    border-radius: 50px;
    background-color: #ffb742;
    border: 2px solid #ffb742;
    width: 147px;
    height: 54px;
    text-align: left;
    margin-top: 20px;
}

.fon-t {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 680px;
    color: white;
    text-align: left;
}

.button1 {
    border-radius: 50px;
    background-color: #ffb742;
    border: 2px solid #ffb742;
    width: 147px;
    height: 54px;
    text-align: left;
    margin-top: 10px;
}

.font1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.logo {
    width: 560px;
    height: 185px;
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    border-spacing: 10px 10px;
}

.col {
    width: 80px;
    height: 80px;
    background: #383E45;
    border-radius: 10px;
}

.icon {
    width: 48px;
    height: 48px;
    margin: 15px;
}

.icon2 {
    width: 48px;
    height: 48px;
    margin-top: 15px;
    margin-left: 23px;
}

.icon3 {
    width: 48px;
    height: 48px;
    margin-top: 20px;
    margin-left: 15px;
}

.col:hover {
    background: #906e36;
}

.subtitle1 {
    display: grid;
    justify-content: center;
    margin-top: 10%;
}

.block3 {
    display: grid;
    justify-content: center;
}

.works {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.0799999982);
    border-radius: 5rem;
    color: #ffb742;
    display: flex;
    text-transform: uppercase;
    margin-left: 35%;
}

.caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 38px;

}

.row2 {
    box-sizing: border-box;
    display: flex;
    margin-top: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

.col2 {
    width: 61px;
    height: 40px;
}

.col3 {
    width: 112px;
    height: 40px;
}

.col4 {
    width: 152px;
    height: 40px;
}

.col5 {
    width: 202px;
    height: 40px;
}

.text18 {
    color: white;
    background: #212529;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;

}

.text18:hover {
    color: #212529;
    background: #FFB742;
}

.pic {
    width: 420px;
    height: 555px;
    margin-top: 53px;
    margin-left: 20px;
    margin-right:20px;
}

.pic1 {
    width: 420px;
    height: 302px;
    margin-top: 53px;
    margin-left: 20px;
    margin-right:20px;
}

.pic2 {
    width: 420px;
    height: 555px;
    margin-top: -203px;
    margin-left: 20px;
    margin-right:20px;
}

.col12 {
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

.group4 {
    width: 1300px;
    display: grid;
    padding-top: 8%;
}

.testimonials {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.0799999982);
    border-radius: 5rem;
    color: #ffb742;
    display: flex;
    text-transform: uppercase;
    margin-left: 35%;
}

.caption1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 39px;
    margin-left: 40px;
    margin-top: 5px;
}

.svg8 {
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
}

.img6 {
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-left: 30px;
}

.block4 {
    display: flex;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
}

.col10 {
    background-color: white;
    width: 400px;
    height: 475px;
    border-radius: 9px;
    padding: 10px;
    margin: 30px;
}

.row13 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.desc4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 315px;
    height: 209px;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 34px;
}

.name12 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-left: 130px;
    margin-top: -70px;
}

.profession12 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-left: 130px;
    margin-top: -15px;
}

.bottom {
    background: #1c1c1c;
    width: 1440px;
    height: 490px;
    margin-top: 200px;
    box-sizing: border-box;
    display: flex;
}

.gr1 {
    margin-left: 40px;
    padding-top: 8%;
}

.gr2 {
    margin-left: 130px;
    padding-top: 11%;
}

.gr3 {
    padding-top: 11%;
    margin-left: 130px;
}

.gr4 {
    padding-top: 11%;
    margin-left: 130px;
}

.name1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #FFB742;
    display: flex;

}

.descrirtion4 {
    font-family: 'Work Sans', sans-serif;
    color: #d4d4d4;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

}

.menu1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19px;
}

ul.hr1 {
    line-height: 36px;
}

ul.hr1 li {
    display: flex;
}

.text-color11 {
    color: #7b7b7b;
}

.text-color11:hover {
    color: #FFB742;
}

.name5 {
    font-family: 'Work Sans', sans-serif;
    color: #d4d4d4;
    font-weight: 600;
    font-size: 22px;
    margin-top: 0;
    margin-left: 40px;
}

.name6 {
    font-family: 'Work Sans', sans-serif;
    color: #d4d4d4;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
    margin-left: 40px;
}

.menu2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.name7 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #f5fbf2;
    margin-top: 0;
}

.descrirtion5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7b7b7b;
}