.body {
    margin: 0;
}

.main {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.strong-ukraine {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    margin: 0.9rem 0rem 1.3rem 0rem;
}

.colortext1 {
    color: #3d44e7;
}

.colortext2 {
    color: #e7c23d;
}

.image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid black;
}

.imageprapor {
    flex-direction: column;
    height: 25rem;
    left: 4rem;
    position: absolute;
    top: 18rem;
    width: 2rem;
    background: no-repeat;
}


.textimage {
    font-family: 'Inika', sans-serif;
    font-size: 42px;
    text-align: left;
    line-height: 1.7;
    color: white;
    font-weight: 700;
    left: 8rem;
    position: absolute;
    top: 15rem;
}

.text {
    font-family: 'Inika', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0rem 1rem 5rem;
}

.gradient {
    background: no-repeat;
}

.group {
    align-items: center;
    display: flex;
    height: 25rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

.block {
    background-color: white;
    border: solid 0.3rem #0d095f;
    border-radius: 2rem;
    box-shadow: -1.1rem 1rem 1rem rgba(0, 209, 255, 0.349999994);
    height: 481px;
    width: 28%;
    margin: 0 0 0 3rem;
}

.block1 {
    background-color: white;
    border: solid 0.3rem #0d095f;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 209, 255, 0.349999994);
    height: 481px;
    width: 28%;
    margin: 0 0 0 3rem;
}

.block2 {
    background-color: white;
    border: solid 0.3rem #0d095f;
    border-radius: 2rem;
    box-shadow: 1.1rem 1rem 1rem rgba(0, 209, 255, 0.349999994);
    height: 481px;
    width: 28%;
    margin: 0 0 0 3rem;
}

.photo {
    width: 100.5%;
    height: 63%;
    object-fit: cover;
}

.photo1 {
    width: 100.5%;
    height: 63%;
    object-fit: cover;
}

.photo2 {
    width: 100.5%;
    height: 63%;
    object-fit: cover;
}

.text-block {
    font-family: 'Inika', sans-serif;
    color: #0072DB;
    font-weight: 700;
    font-size: 24px;
    margin: 1rem 0 0 1rem;
}

.text-block1 {
    font-family: 'Inika', sans-serif;
    color: #FF9900;
    font-size: 20px;
    margin-left: 1rem;
    font-weight: 400;
}

.textUK {
    font-family: 'Inika', sans-serif;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    text-decoration-color: #1400FF;
    text-decoration-thickness: 6px;
}

.for-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgUkraine {
    width: 100%;
    height: 626px;
}

.button {
    margin: auto;
    margin-top: 1rem;
    display: block;
    background-color: #2A61F0;
    min-width: 499px;
    min-height: 81px;
    border-radius: 50px;
    border: 1px solid white;
}

.font {
    font-size: 64px;
    font-weight: 700;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a {
    text-decoration: none;
}

.bottom {
    background: linear-gradient(180deg, #003235 0%, #0d0660 100%);
    width: auto;
    height: 260px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.strong-ukraine2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem 0 0 0;
}

.colortext3 {
    color: #3E45E8;
}

.colortext4 {
    color: #DFE31E;
}

.mail {
    font-family: Marcellus 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1rem;
    margin: 0 0 0 0;
    align-items: center;
}

.phone {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1rem;
}

.soc {
    display: flex;
    margin-top: 1rem;
    flex-shrink: 0;
    column-gap: 2rem;
    margin: 1 0 0 1rem;
}