:root {
    font-size: 10px;
}

body {
    margin: 0;
}

* {
    scroll-behavior: smooth;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
    margin: 0;
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}

header .logo img {
    min-height: 100%;
}

header .logo {
    align-self: stretch;
}

img {
    width: 100%;
}

.image {
    background-color: #fffbfb;
}

.nav {
    color: #ffffff;
    display: flex;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    list-style: none;
    justify-content: space-between;
    font-size: 33px;
    font-style: italic;
    width: 60%;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

a {
    color: #fff;
    text-decoration: none;
}

/*screen*/
.screen {
    display: flex;
    min-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}

.box {
    display: flex;
    height: 90vh;
    justify-content: space-between;
}

.box>div {
    width: 23%;
    margin-top: 10%;
}

.left-one,
.right-one {
    height: 55%;
    align-self: center;
    margin: 1%;
}

.left-two,
.right-two {
    height: 60%;
    align-self: center;
}

.left-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-150vh);
}

html:hover .left-two {
    transform: translateX(0);
    transition: 1s;
}

.left-two>div:first-child {
    height: 100%;
    margin-bottom: 1.5rem;
}

.left-two>div:last-child {
    height: 40%;
}

.right-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(720px);
}

html:hover .right-two {
    transform: translateX(0);
    transition: 1s;
}

.right-two>div:first-child {
    height: 100%;
    margin-bottom: 1.5rem;
}

.right-two>div:last-child {
    height: 40%;
}

.left-one {
    transform: translateX(-50vh);
}

html:hover .left-one {
    transform: translateX(0);
    transition: 2s;
}

.right-one {
    transform: translateX(520px);
}

html:hover .right-one {
    transform: translateX(0);
    transition: 2s;
}

/*screen2*/
.bg {
    width: 100%;
    height: 100%;
}

.services {
    display: flex;
    margin-top: 10%;
}

.services .left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.services .left>div {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.left {
    overflow: hidden;
}

.services .right {
    width: 50%;
}

.c {
    width: 270px;
    height: 270px;
    border: 1px solid black;
    border-radius: 50%;
}

.one-card {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: example;
}

@keyframes example {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 50%;
        top: 0;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0;
        top: 50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.two-card {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: examp;
}

@keyframes examp {
    0% {
        left: 50%;
        top: 0;
    }

    25% {
        left: 50%;
        top: 50%;
    }

    50% {
        left: 0;
        top: 50%;
    }

    75% {
        left: 0;
        top: 0;
    }

    100% {
        left: 50%;
        top: 0;
    }

}

.three-card {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: exampl;
}

@keyframes exampl {
    0% {
        left: 0;
        top: 43%;
    }

    25% {
        left: 0;
        top: -7%;
    }

    50% {
        left: 50%;
        top: -7%;
    }

    75% {
        left: 50%;
        top: 43%;
    }

    100% {
        left: 0;
        top: 43%;
    }

}

.four-card {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: exam;
}

@keyframes exam {
    0% {
        left: 50%;
        top: 50%;
    }

    25% {
        left: 0;
        top: 50%;
    }

    50% {
        left: 0;
        top: 0;
    }

    75% {
        left: 50%;
        top: 0;
    }

    100% {
        left: 50%;
        top: 50%;
    }

}

.title {
    font-weight: 700;
    font-size: 38px;
    color: #000;
    font-style: italic;
    font-family: 'Rosario', sans-serif;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/*screen3*/
.team {
    margin-top: 10%;
}

.caption {
    font-family: 'Rosario', sans-serif;
    font-size: 9rem;
    font-weight: 700;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tems {
    display: flex;
    justify-content: space-between;
    height: 67vh;
    justify-content: center;
}

.tems>div {
    width: 23%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.tems:hover>div {
    filter: brightness(.5);
}

.tems>div:hover {
    filter: none;
}

.tems .name {
    width: 22%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Volkhov', serif;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    height: 141px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: rgba(163, 83, 10, 0.7);

}

.tems>div:hover .name {
    transition: 0;
    background: rgba(163, 83, 10, 0.7);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
    margin-top: -10%;
}

.im {
    width: 316px;
    height: 557px;
}

.contact {
    display: grid;
    margin-top: 10%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.block1 {
    float: left;
    width: 100%;
}

.subject {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    font-style: italic;
    display: flex;
    text-align: center;
}

.card-one {
    width: 100%;
    height: 70%;
    background-color: #e5e5e5;
    margin-left: 1%;
}

.inp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.frame {
    width: 50%;
    float: right;
    margin-left: 10%;

}

.input {
    width: 85%;
    height: 70%;
    background-color: #fff;
    font-family: 'Rosario', sans-serif;
    font-family: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin: 4%;
    padding-left: 20px;
}

.input1 {
    width: 94%;
    height: 65%;
    background-color: #fff;
    font-family: 'Rosario', sans-serif;
    font-family: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-left: 2%;
    padding-left: 10px;
    margin-top: 2%;
}

.bottom {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10%;
}

.a {
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #000;
    font-style: italic;
    margin: 0;
}

.gr1 {
    width: 600px;
    margin-top: 2.5%;
}

.p {
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #000;
    font-style: italic;
    margin: 0;
}

.gr2 {
    margin-left: 2%;
    width: 500px;
}

.title-1 {
    font-family: 'Rosario', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.gr3 {
    margin-left: 2%;
    width: 300px;
}

.title-2 {
    font-family: 'Rosario', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.inst {
    width: 26px;
    height: 26px;
}

.fac {
    width: 37px;
    height: 32px;
}

.twit {
    width: 32px;
    height: 28px;
}

@media (max-width: 768px) {
    header {
        height: 13vh;
    }

    .nav {
        font-size: 1.8rem;
    }

    .image {
        width: auto;
        height: 11vh;
    }

    .box>div {
        width: 50%;
    }

    .box {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .left-one {
        transform: translateX(-250vh);
        margin-bottom: 5%;
        margin-top: 5%;
    }

    html:hover .left-one {
        transform: translateX(0);
        transition: 1s;
    }

    .left-two>div:first-child {
        margin: 0;
        transform: translateX(250vh);
    }

    html:hover .left-two>div:first-child {
        transform: translateX(0);
        transition: 1s;
    }

    .left-two>div:last-child {
        margin-top: -5%;
        transform: translateX(-250vh);
    }

    html:hover .left-two>div:last-child {
        transform: translateX(0);
        transition: 1s;
    }

    .left-two {
        margin-bottom: 15%;
    }

    .right-two>div:first-child {
        margin-top: -5%;
        transform: translateX(250vh)
    }

    html:hover .right-two>div:first-child {
        transform: translateX(0);
        transition: 1s;
    }

    .right-two>div:last-child {
        margin-bottom: 0;
        margin-top: -5%;
        transform: translateX(-250vh);
    }

    html:hover .right-two>div:last-child {
        transform: translateX(0);
        transition: 1s;
    }

    .right-two {
        margin-bottom: 10%;
    }

    .right-one {
        margin-bottom: 5%;
        transform: translateX(250vh);
    }

    html:hover .right-one {
        transform: translateX(0);
        transition: 1s;
    }

    .services {
        margin-top: 15%;
        
    }

    .services .left {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .c {
        width: 240px;
        height: 240px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .one-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: example;
    }

    @keyframes example {
        0% {
            left: 0;
            top: 2%;
        }

        25% {
            left: 45%;
            top: 2%;
        }

        50% {
            left: 45%;
            top: 51%;
        }

        75% {
            left: 0;
            top: 51%;
        }

        100% {
            left: 0;
            top: 2%;
        }
    }

    .two-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: examp;
    }

    @keyframes examp {
        0% {
            left: 45%;
            top: 2%;
        }

        25% {
            left: 45%;
            top: 51%;
        }

        50% {
            left: 0;
            top: 51%;
        }

        75% {
            left: 0;
            top: 2%;
        }

        100% {
            left: 45%;
            top: 2%;
        }
    }

    .three-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: exampl;
    }

    @keyframes exampl {
        0% {
            left: 0;
            top: 42%;
        }

        25% {
            left: 0;
            top: -6.5%;
        }

        50% {
            left: 42%;
            top: -6.5%;
        }

        75% {
            left: 42%;
            top: 42%;
        }

        100% {
            left: 0;
            top: 42%;
        }
    }

    .four-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: exam;
    }

    @keyframes exam {
        0% {
            left: 45%;
            top: 51%;
        }

        25% {
            left: 0;
            top: 51%;
        }

        50% {
            left: 0;
            top: 2%;
        }

        75% {
            left: 45%;
            top: 2%;
        }

        100% {
            left: 45%;
            top: 51%;
        }
    }

    .right {
        display: none;
    }

    .caption {
        font-size: 5rem;
        height: 15vh;
    }

    .tems>div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tems .name {
        width: 41.3%;
        transition: 2s;
        margin-top: 56%;
    }

    .tems>div:hover .name {
        opacity: 1;
        margin-top: 55%;
    }

    .tems {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .tems:hover>div {
        filter: none;
    }

    .subject {
        font-size: 4.5rem;
    }

    .contact {
        display: flex;
        flex-flow: wrap-reverse;
    }

    .card-one {
        width: 95%;
        height: 90%;
    }

    .input {
        width: 85%;
        height: 60%;
    }

    .input1 {
        width: 94%;
        height: 60%;
    }

    .bottom {
        margin-top: 10%;
    }

    .p {
        font-size: 1.5rem;
    }

    .title-1 {
        font-size: 2rem;
    }

    .title-2 {
        font-size: 2rem;
    }

    .a {
        font-size: 1.5rem;
    }

    .inst {
        width: 18px;
        height: 18px;
    }

    .fac {
        width: 27px;
        height: 22px;
    }

    .twit {
        width: 22px;
        height: 18px;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    header {
        height: 14vh;
    }

    .nav {
        font-size: 2.3rem;
    }

    .image {
        width: auto;
        height: 11vh;
    }

    .box>div {
        width: 40%;
    }

    .box {
        display: flex;
        width: 100%;
        height: 220vh;
    }

    .left-one {
        top: -20%;
        left: 5%;
        position: relative;
        transform: translateX(-100vh);
    }

    html:hover .left-one {
        transition: 1.5s;

    }

    .left-two {
        position: absolute;
        left: 7%;
        top: 100%;
    }

    html:hover .left-two {
        transition: 1.5s;
    }

    .right-one {
        top: -20%;
        position: relative;
        right: 5%;
    }

    html:hover .right-one {
        transition: 1.5s;
    }

    .right-two {
        position: absolute;
        top: 100%;
        right: 7%;
    }

    html:hover .right-two {
        transition: 1.5s;
    }

    .bg {
        width: 100%;
    }

    .services {
        display: flex;
        flex-flow: column-reverse;
        justify-content: start;
        align-items: center;
        height: 300vh;
    }

    .services .right {
        width: 100%;
    }

    .services .left {
        width: 100%;
        height: 100%;
    }

    .caption {
        font-size: 6rem;
    }

    .team {
        height: 200vh;
    }

    .tems {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

    }

    .tems>div {
        padding: 6%;
        padding-top: 0;
        width: 30%;
    }

    .tems .name {
        width: 32%;
        transition: 2s;
        margin-top: -13%;
    }

    .tems>div:hover .name {
        opacity: 1;
        margin-top: -14.5%;
    }

    .tems:hover>div {
        filter: none;
    }
    .subject {
        font-size:5rem;
    }
    .contact {
        display: flex;
        flex-flow: wrap;
        justify-content:center;
    }
    .card-one {
        width:95%;
        margin:3%;
        height:100%;
    }
    .input {
        width:85%;
        height:70%;
    }
    .input1{
        width:93.6%;
        margin-top:2%;
        margin-bottom:6%;
    }
    .frame {
        margin-top:15%;
        margin-left:0;
    }
    .p {
        font-size: 2.5rem;
    }

    .title-1 {
        font-size: 2.5rem;
    }

    .title-2 {
        font-size:2.5rem;
    }

    .a {
        font-size: 2rem;
    }

    .inst {
        width: 28px;
        height: 28px;
    }

    .fac {
        width: 37px;
        height: 32px;
    }

    .twit {
        width: 32px;
        height: 28px;
    }

}


@media (min-width:992px) {
    .box {
        margin-left:3%;
        margin-right:3%;
        margin-top:-10%;
    }
    .right-two{
        transform:translateX(150vh);
    }
    .one-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: example;
    }
    
    @keyframes example {
        0% {
            left: 0;
            top: 0;
        }
    
        25% {
            left: 50%;
            top: 0;
        }
    
        50% {
            left: 50%;
            top: 50%;
        }
    
        75% {
            left: 0;
            top: 50%;
        }
    
        100% {
            left: 0;
            top: 0;
        }
    }
        .two-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: examp;
    }
    
    @keyframes examp {
        0% {
            left: 50%;
            top: 0;
        }
    
        25% {
            left: 50%;
            top: 50%;
        }
    
        50% {
            left: 0;
            top: 50%;
        }
    
        75% {
            left: 0;
            top: 0;
        }
    
        100% {
            left: 50%;
            top: 0;
        }
    
    }
    
    .three-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: exampl;
    }
    
    @keyframes exampl {
        0% {
            left: 0;
            top: 40%;
        }
    
        25% {
            left: 0;
            top: -4%;
        }
    
        50% {
            left: 50%;
            top: -4%;
        }
    
        75% {
            left: 50%;
            top: 40%;
        }
    
        100% {
            left: 0;
            top: 40%;
        }
    
    }
    
    .four-card {
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-name: exam;
    }
    
    @keyframes exam {
        0% {
            left: 50%;
            top: 50%;
        }
    
        25% {
            left: 0;
            top: 50%;
        }
    
        50% {
            left: 0;
            top: 0;
        }
    
        75% {
            left: 50%;
            top: 0;
        }
    
        100% {
            left: 50%;
            top: 50%;
        }
    
    }
}